.places {
  width: calc(984px - (1280px - min(100vw,1280px )) * (56 / 256));
  margin: 92px auto 0;
  justify-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media (max-width: 1023px) {
  .places {
    width: calc(928px - (1024px - min(100vw, 1024px)) * (208 / 256));
    gap: 73px;
  }
}

@media (max-width: 767px) {
  .places {
    width: 100%;
    margin: 88px auto 0;
  }
}

@media (max-width: 321px) {
  .places {
    margin-top: 64px;
    gap: 50px;
  }
}