.cover__subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  width: 360px;
  text-align: center;
  margin: 0;
  z-index: 1;
}

@media (max-width: 768px) {
  .cover__subtitle {
    width: calc(360px - (768px - min(768px, 100vw)) * ( 72/ 448));
  }
}


@media (max-width: 455px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}