.place__text {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media (max-width:820px) {
  .place__text {
    gap: 25px;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .place__text {
    width: calc(100% - 32px);
  }
}