.header__lang-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 18px;
  /*align-items: end;*/
  height:max-content;
  margin-top: 18px;

}

@media (max-width: 320px) {
  .header__lang-list {
    margin-top: 14px;
  }
  
  
}