.place {
  display: grid;
  grid-template-columns: calc(460px - (1280px - min(1280px, 100vw)) * (20 /256)) 1fr;
  gap: 48px 40px;
}

@media (max-width: 1024px) {
  .place {
    grid-template-columns: calc(440px - (1024px - min(1024px,100vw)) * (100/256)) 1fr;
    gap: 48px 32px;
  }
}

@media (max-width: 768px) {
  .place {
    grid-template-columns: 100%;
    gap: 48px 28px;
  }
  
}

@media (max-width: 320px) {
  .place {
    gap: 32px;
  }
}